<!DOCTYPE html>
<html>
<head>
	<title>Equipo docente de tics</title>
</head>
<body>
	<h2>Profesores de cátedra y auxiliares</h2>
	<ul/>
		<li>Ángel Jimenez Molina</li>
		<li>Iván Díaz Campos</li>
		<li>Macarena V. Osorio A.</li>
		<li>José Canto</li>
		<li>José Pinto</li>
		<li>Javiera Ovalle</li>
		<li>Carlos Vega</li>
		<li>Catalina Martin</li>
		<li>Eduardo Valerio</li>
		<li>Juan Gutiérrez T.</li>
		<li>Matías Rojas</li>
		<li>Nicolás Villa Contardo</li>
		<li>Sebastián Donoso</li>
		<li>Sofia Herrera</li>
		<li>Victoria Arce A.</li>
	<ul/>
	<a href="http://www.google.cl">Hola, soy un enlace a Google</a>
	<br>
	<a href="{% url 'pestaña' %}">Pestaña interesante</a>
	<br>
	<a href="{% url 'quiensomos' %}">Quién somos?</a>
	<br>
	<a href="{% url 'index' %}">Volver a página principal</a>
</body>
</html>